<div class="auth-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <!-- Role Form Group -->
      <div class="form-group">
        <label for="role">Role</label>
        <select
          id="role"
          formControlName="role"
          [ngClass]="{
            'is-invalid': f['role'].touched && f['role'].errors,
            'is-valid': f['role'].valid
          }"
        >
          <option value="" disabled selected>Choose the role</option>
          <option value="employee">Employee</option>
          <option value="teamLead">Team Lead</option>
          <option value="manager">Manager</option>
        </select>

        <mat-error *ngIf="f['role'].touched && f['role'].errors?.['required']">
          Role is required
        </mat-error>
      </div>

      <!-- User Name Form Group -->
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          [ngClass]="{
            'is-invalid': f['username'].touched && f['username'].errors,
            'is-valid': f['username'].valid
          }"
        />

        <mat-error
          *ngIf="f['username'].touched && f['username'].errors?.['required']"
        >
          User name is required
        </mat-error>
        <mat-error
          *ngIf="f['username'].errors?.['minlength']"
        >
          User name must be at least 3 characters
        </mat-error>
      </div>
      <div class="form-group">
        
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" 
        [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].errors, 'is-valid':  f['email'].valid}" >
        
        <mat-error *ngIf="registerForm.get('email')?.touched &&  registerForm.get('email')?.errors?.['required']"
        >Email is required</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid email</mat-error>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Password is required</mat-error>
      </div>
      <!-- <button type="submit" [disabled]="registerForm.invalid">Login</button>
        -->

        <div class="button-container">
            <button class="btn btn-sm btn-primary w-100" [disabled]="loading">
              <!-- {{ loading ? 'Loading...' : 'Login' }} -->
                Register
            </button>
            
          </div>

        
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        
    </form>
    
</div>