<!-- 


<div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">My Task List</h5>
      </div>
      <div class="card-body">
        <div class="action-row mb-3 d-flex justify-content-between">
          
        </div>
        <table class="table table-striped table-md">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of pageOfTasks; let idx = index">
              <td>{{ idx + 1 }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.status }}</td>
              <td>
                
                <i
                  class="bi bi-trash-fill text-danger"
                  (click)="deleteTask(task._id)"
                ></i>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td colspan="5" class="text-center py-5">
                <span class="spinner-border spinner-border-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <pagination [items]="tasks" (changePage)="onChangePage($event)"></pagination>
      </div>
    </div>
  </div> -->